{% extends 'layout.html' %} {% block style %}
<style>
  .form-group input {
    width: 100%;
  }
  .form-group textarea {
    width: 100%;
  }
  .form-group select {
    width: 100%;
  }
  .hayvan-form {
    border: none;
    padding: 15px;
    border-radius: 9px;
    background: #a9aabc;
  }
  .control-label {
    font-weight: bold;
  }
</style>
{% endblock %} {% block body %}
<div class="container mt-5">
  <form class="hayvan-form" action="" method="post" id="form-control">
    {% csrf_token %}
    <div>
      <h3><strong>KAYIT OL</strong></h3>
    </div>

    <div class="form-group label-floating is-empty" >
                    
                    
      <label class="control-label required" for="id_username">Kullanıcı Adı:</label>
      
          <input type="text" name="username" class="vTextField" minlength="3" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_username">
      
  
  
      <div class="help">En az 3 karakter en fazla ise 150 karakter kullanılabilir. Sadece harfler, rakamlar ve @/./+/-/_ kullanılabilir.</div>
  
</div>
    <br />
    <div class="form-group label-floating is-empty">
      <label class="control-label"> E-MAİL</label><br />
      <div class="form-group label-floating is-empty">{{form.email}}</div>
      <span class="material-input"></span>
    </div>
    <br />
    <div class="form-group label-floating is-empty">                        
      <div class="form-group label-floating is-empty">                    
              <label class="control-label required" for="id_password1">ŞİFRE:</label>             
                  <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1" aria-autocomplete="list">                                  
              <div class="help"><ul><li>Şifreniz çok yaygın kullanılan şifreler olamaz.</li><li>Şifreniz en az 8 karakter olması gerekir.</li><li>Şifreni diğer kullanıcıların şifreleri ile benzer olamaz.</li><li>Şiferniz tamamen sayılardan oluşamaz.</li></ul></div>         
      </div>
</div>

<div class="form-group label-floating is-empty">                        
  <div class="form-group label-floating is-empty">          
          <label class="control-label required" for="id_password2">ŞİFRE TEKRAR:</label> 
              <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2">
          <div class="help">Lütfen yukarıda girdiğiniz şifreyi onaylayın.</div>      
  </div>
</div>
    <br />
    <div class="form-group">
      <button type="submit" class="btn btn-info">KAYIT OL</button>
    </div>
  </form>
</div>

{% endblock %}
