{% extends 'layout.html' %} {% block style %}
<style>
  .form-group input {
    width: 100%;
  }
  .form-group textarea {
    width: 100%;
  }
  .form-group select {
    width: 100%;
  }
  .hayvan-form {
    border: none;
    padding: 15px;
    border-radius: 9px;
    background-color: #a9aabc;
  }
  .control-label {
    font-weight: bold;
  }
  tbody {
    background-color: #a9aabc;
  }
  table a {
    font-weight: bold;
    color: rgb(119, 117, 6);
  }
  .table_head{
    background-color: #138496;
    
  }
  #example_length{
    color: white;
  }
  #example_filter{
    color: white;
  }
  #example_info{
    color: white;
  }
  .dataTables_wrapper .dataTables_filter input {

    background-color: white;

}
.dataTables_wrapper .dataTables_length select {

  background-color: white;

}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  color: rgb(255, 251, 251) !important;

}
</style>
{% endblock %} {% block body %}
<div class="container mt-5">
  <table id="example" class="display" style="width:100%">
    <thead class="table_head">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tür</th>
          <th scope="col">Cins</th>
          <th scope="col">İsim</th>
          <th scope="col">Yaş</th>
          <th scope="col">Sahibi</th>
          <th scope="col">Düzenle</th>
          <th scope="col">Sil</th>
        </tr>
    </thead>
    <tbody>
      {% for hayvan in hayvanlar %}
      <tr>
        <th scope="row">{{hayvan.id}}</th>
        <td>{{hayvan.type}}</td>
        <td>{{hayvan.genus}}</td>
        <td><a href="{%url 'hayvanlar:hayvanDetay' hayvan.id %}">{{hayvan.name}}</a></td>  
        <td>{{hayvan.age}}</td>
        <td>{{hayvan.owner}}</td>
        <td>
          <a href="{% url 'hayvanlar:hayvan-update' hayvan.id%}">
            <button class="btn btn-warning">Düzenle</button></a
          >
        </td>
        <td>
          <a href="{% url 'hayvanlar:hayvan_delete' hayvan.id%}">
            <button class="btn btn-danger">Sil</button></a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
</table>

  <hr />

  <br />
  <form
    class="hayvan-form"
    action="{%url 'hayvanlar:animals' %}"
    method="post"
    id="form-control"
  >
    {% csrf_token %}
    <div>
      <h3><strong>Hayvan Ekle</strong></h3>
    </div>

    <div class="form-group label-floating is-empty">
      <label class="control-label"> Hayvanın Türü</label><br />
      <div class="form-group label-floating is-empty">{{form.type}}</div>
    </div>
    <br />

    <div class="form-group label-floating is-empty">
      <label class="control-label">Hayvanın Cinsi</label><br />
      <div class="form-group label-floating is-empty">{{form.genus}}</div>
    </div>
    <br />

    <div class="form-group label-floating is-empty">
      <label class="control-label">Hayvanın İsmi</label><br />
      <div class="form-group label-floating is-empty">{{form.name}}</div>
    </div>
    <br />

    <div class="form-group label-floating is-empty">
      <label class="control-label">Hayvanın Yaşı</label><br />
      <div class="form-group label-floating is-empty" id="price">
        {{form.age}}
      </div>
    </div>
    <br />

    <div class="form-group label-floating is-empty">
      <label class="control-label">Hayvanın Sahibi</label><br />
      <div class="form-group label-floating is-empty">{{form.owner}}</div>
    </div>
    <br />

    <div class="form-group label-floating is-empty">
      <label class="control-label">Hayvan Hakkında </label>
      <div class="form-group label-floating is-empty">{{form.description}}</div>
    </div>
    <br />
    <div class="form-group">
      <button type="submit" class="btn btn-info">HAYVAN EKLE</button>
    </div>
  </form>
</div>

{% endblock %} 
{% block script %} 

<script>
let previous = document.getElementById('example_previous')
let next = document.getElementById('example_next')
let table = new DataTable('#example', {
    // options
    "language": {
            "lengthMenu": "Sayfa başına gösterilen kayıt _MENU_ ",
            "zeroRecords": "Herhangi bir kayıt bulunamadı",
            "info": "Gösterilen sayfa _PAGE_ / _PAGES_",
            "infoEmpty": "Henüz herhangi bir kayıt yapılmadı",
            "infoFiltered": "(filtered from _MAX_ total records)",
            "search":"Ara",
          
        }
      

});

</script>

{% endblock %}