{% extends 'layout.html' %} 
{% load static %}
{% block style %}
<style>
  body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-image:linear-gradient(rgba(27, 24, 24, 0.4), rgba(131, 119, 119, 0.4)), url('{% static "images/vf-issuelanding-vet-checking-heartbeat-of-brown-and-white-cat.jpg" %}');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: calc(100vh);
    overflow-x: hidden;

  }
  .text-center h3{
    color:rgb(238, 235, 235);
    font-weight: 620;
  }
</style>
{% endblock %} {% block body %}
<div class="container mt-5">
  <table id="example" class="display" style="width:100%">
    <thead class="table_head">
        <tr>
          <th scope="col">id</th>
          <th scope="col">Name</th>
          <th scope="col">Surname</th>
          <th scope="col">E-mail</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Adress</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
      {% for owner in owners %}
      <tr>
        <th scope="row">{{owner.id}}</th>
        <td>
          <a class="nav-link" href="{%url 'hayvanlar:owner_detail' owner.id %}">{{owner.name}}</a>
        </td>
        <td>{{owner.surname}}</td>
        <td>{{owner.email}}</td>
        <td>{{owner.phone}}</td>
        <td>{{owner.address}}</td>
        <td>
          <a href="{%url 'hayvanlar:owner-update' owner.id %}">
            <button class="btn btn-warning">Edit</button></a
          >
        </td>
        <td>
          <a href="{%url 'hayvanlar:owner_delete' owner.id %}">
            <button class="btn btn-danger">Delete</button></a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
</table>
 



<div class="row ">
  <div class="col-md-3"></div>
  <div class="col-md-6 mx-3">
    <form
    class="sahip-form"
    action="{%url 'hayvanlar:animalowners' %}"
    method="post"
    id="form-control"
    >
    {% csrf_token %}
    <div class="text-center">
      <h3 >Add Animal Owner</h3>
    </div>
    
    <div class="form-group label-floating is-empty">
      <label class="control-label">Name</label><br />
      <div class="form-group label-floating is-empty">
        <input class="form-control" type="text" name="name" maxlength="20" required="" id="id_name">
      </div>
      <span class="material-input"></span>
    </div>


    <div class="form-group label-floating is-empty">
      <label class="control-label">Surname</label><br />
      <div class="form-group label-floating is-empty">
        <input class="form-control" type="text" name="surname" maxlength="20" required="" id="id_surname">
      </div>
      <span class="material-input"></span>
    </div>


    <div class="form-group label-floating is-empty">
      <label class="control-label">Email</label><br />
      <div class="form-group label-floating is-empty">
        <input class="form-control" type="email" name="email" maxlength="30" required="" id="id_email">
      </div>
      <span class="material-input"></span>
    </div>


    <div class="form-group label-floating is-empty">
      <label class="control-label">Phone Number</label><br />
      <input
        type="text"
        class="form-control"
        name="phone"
        maxlength="11"
        required=""
        id="id_phone"
        pattern="[0]{1}[5]{1}[0-9]{2}[0-9]{3}[0-9]{2}[0-9]{2}"
        oninvalid="this.setCustomValidity('Lütfen geçerli formatta bir telefon numarası giriniz. Örneğin: 05334442222')"
        oninput="this.setCustomValidity('')"
      />

    </div>
 

    <div class="form-group label-floating is-empty">
      <label class="control-label">Owners Adress </label>
      <div class="form-group label-floating is-empty">
        <textarea class="form-control" name="address" cols="20" rows="5" maxlength="40" required="" id="id_address"></textarea>
      </div>
      <span class="material-input"></span>
    </div>
  
    <div class="form-group">
      <button type="submit" class="btn btn-danger btn-block">ADD</button>
    </div>
  </form>

  </div>
</div>

 
</div>

{% endblock %}
{% block script %} 


{% endblock %}