{% extends 'layout.html' %} 
{% load static %}
{% block style %}
<style>

  body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-image:linear-gradient(rgba(27, 24, 24, 0.5), rgba(131, 119, 119, 0.5)), url('{% static "images/groupDog.jpg" %}');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: calc(100vh );
    overflow-x: hidden;

  }

</style>
{% endblock %} {% block body %}
<div class="container mt-5">
  <table id="example" class="display" style="width:100%">
    <thead class="table_head">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Type</th>
          <th scope="col">Genus</th>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Owner</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
      {% for hayvan in hayvanlar %}
      <tr>
        <th scope="row">{{hayvan.id}}</th>
        <td>{{hayvan.type}}</td>
        <td>{{hayvan.genus}}</td>
        <td><a class="nav-link" href="{%url 'hayvanlar:animal_detail' hayvan.id %}">{{hayvan.name}}</a></td>  
        <td>{{hayvan.age}}</td>
        <td>{{hayvan.owner}}</td>
        <td>
          <a href="{% url 'hayvanlar:animal-update' hayvan.id%}">
            <button class="btn btn-warning">Edit</button></a
          >
        </td>
        <td>
          <a href="{% url 'hayvanlar:animal_delete' hayvan.id%}">
            <button class="btn btn-danger">Delete</button></a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
</table>

  <hr />

  <br />
  <form
    class="hayvan-form"
    action="{%url 'hayvanlar:animals' %}"
    method="post"
    id="form-control"
  >
    {% csrf_token %}
    <div>
      <h3><strong>Add Animal</strong></h3>
    </div>

    <div class="form-group label-floating is-empty">
      <label class="control-label"> Type of animal</label><br />

      <div class="form-group label-floating is-empty">{{form.type}}</div>
    </div>
    <br />

    <div class="form-group label-floating is-empty">
      <label class="control-label">Genus of animal</label><br />

      <div class="form-group label-floating is-empty">{{form.genus}}</div>
    </div>
    <br />

    <div class="form-group label-floating is-empty">
      <label class="control-label">Name</label><br />
      <div class="form-group label-floating is-empty">{{form.name}}</div>
    </div>
    <br />

    <div class="form-group label-floating is-empty">
      <label class="control-label"> Age</label><br />

      <div class="form-group label-floating is-empty" id="price">
        {{form.age}}
      </div>
    </div>
    <br />

    <div class="form-group label-floating is-empty">
      <label class="control-label">Owner </label><br />
      <div class="form-group label-floating is-empty">{{form.owner}}</div>
    </div>
    <br />

    <div class="form-group label-floating is-empty">
      <label class="control-label">About the animal </label>
      <div class="form-group label-floating is-empty">{{form.description}}</div>
    </div>
    <br />
    <div class="form-group">
      <button type="submit" class="btn btn-info">ADD</button>
    </div>
  </form>
</div>

{% endblock %} 
{% block script %} 



{% endblock %}