{% extends 'layout.html' %}
{% block style %}
<style>
    .container{
        background: #a9aabc;
        border-radius: 10px;
     }
</style>
{% endblock  %}
{% block body %}
<div class="container my-5 py-3">
    <div> <h4><strong>Animal </strong> </h4></div> 
    <hr>
    <div class="form-group label-floating is-empty">
        <h5><strong>  <label  class="control-label"> Type of Animal</label></strong> </h5><hr>
        <div class="form-group label-floating is-empty">{{form.type}}</div> 
        
    </div>
    <br>
    
    <div class="form-group label-floating is-empty">
        <h5><strong>  <label class="control-label">Genus of Animal</label></strong> </h5><hr>
        <div class="form-group label-floating is-empty">{{form.genus}}</div>
        
    </div>
    <br>
    
    <div class="form-group label-floating is-empty">
        <h5><strong>   <label class="control-label">Name</label></strong> </h5><hr>
        <div class="form-group label-floating is-empty">{{form.name}}</div> 
        
    </div>
    <br>
    
    <div class="form-group label-floating is-empty">
        <h5><strong>   <label class="control-label">Age</label></strong> </h5><hr>
        <div class="form-group label-floating is-empty " id="price">{{form.age}}</div>
        
    </div>
    <br>
    
    <div class="form-group label-floating is-empty">
        <h5><strong>   <label class="control-label">Owner</label> </strong> </h5>  <hr>

        <div class="form-group label-floating is-empty">{{form.owner}}</div>
       
    </div>
    <br>
    
    <div class="form-group label-floating is-empty">
        <h5><strong>   <label class="control-label">About the animal </label></strong> </h5>
        <hr>
        <div class="form-group label-floating is-empty">{{form.description}}</div>
     
    </div>
    <br> 




</div>



{% endblock  %}