{% extends 'layout.html' %} {% block style %}
<style>
  .form-group input {
    width: 100% !important;
  }
  .form-group textarea {
    width: 100% !important;
  }
  .form-group select {
    width: 100% !important;
  }
  .sahip-form {
    border: 2px black solid;
    padding: 15px;
    border-radius: 9px;
    background-color: bisque;
  }
  .control-label {
    font-weight: bold;
  }
  .form-group input.phone {
    background-color: black;
  }
  .sahip-form {
    border: none;
    padding: 15px;
    border-radius: 9px;
    background-color: #a9aabc;
  }
  tbody {
    background-color: #a9aabc;
  }
  table a {
    font-weight: bold;
    color: rgb(119, 117, 6);
  }
  .table_head{
    background-color: #138496;
    
  }
  #example_length{
    color: white;
  }
  #example_filter{
    color: white;
  }
  #example_info{
    color: white;
  }
  .dataTables_wrapper .dataTables_filter input {

background-color: white;

}
.dataTables_wrapper .dataTables_length select {

background-color: white;

}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: rgb(255, 251, 251) !important;

}

</style>
{% endblock %} {% block body %}
<div class="container mt-5">
  <table id="example" class="display" style="width:100%">
    <thead class="table_head">
        <tr>
          <th scope="col">id</th>
          <th scope="col">Name</th>
          <th scope="col">Surname</th>
          <th scope="col">E-mail</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Adress</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
      {% for owner in owners %}
      <tr>
        <th scope="row">{{owner.id}}</th>
        <td>
          <a href="{%url 'hayvanlar:owner_detail' owner.id %}">{{owner.name}}</a>
        </td>
        <td>{{owner.surname}}</td>
        <td>{{owner.email}}</td>
        <td>{{owner.phone}}</td>
        <td>{{owner.address}}</td>
        <td>
          <a href="{%url 'hayvanlar:owner-update' owner.id %}">
            <button class="btn btn-warning">Edit</button></a
          >
        </td>
        <td>
          <a href="{%url 'hayvanlar:owner_delete' owner.id %}">
            <button class="btn btn-danger">Delete</button></a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
</table>
  <hr />

  <form
    class="sahip-form"
    action="{%url 'hayvanlar:animalowners' %}"
    method="post"
    id="form-control"
    >
    {% csrf_token %}
    <div>
      <h3><strong>Add Animal Owner</strong></h3>
    </div>
    
    <div class="form-group label-floating is-empty">
      <label class="control-label">Name</label><br />
      <div class="form-group label-floating is-empty">{{form2.name}}</div>
      <span class="material-input"></span>
    </div>
    <br />

    <div class="form-group label-floating is-empty">
      <label class="control-label">Surname</label><br />
      <div class="form-group label-floating is-empty">{{form2.surname}}</div>
      <span class="material-input"></span>
    </div>
    <br />

    <div class="form-group label-floating is-empty">
      <label class="control-label">Email</label><br />
      <div class="form-group label-floating is-empty">{{form2.email}}</div>
      <span class="material-input"></span>
    </div>
    <br />

    <div class="form-group label-floating is-empty">
      <label class="control-label">Phone Number</label><br />
      <input
        type="text"
        name="phone"
        maxlength="11"
        required=""
        id="id_phone"
        pattern="[0]{1}[5]{1}[0-9]{2}[0-9]{3}[0-9]{2}[0-9]{2}"
        oninvalid="this.setCustomValidity('Lütfen geçerli formatta bir telefon numarası giriniz. Örneğin: 05334442222')"
        oninput="this.setCustomValidity('')"
      />
      <span class="material-input"></span>
    </div>
    <br />

    <div class="form-group label-floating is-empty">
      <label class="control-label">Owners Adress </label>
      <div class="form-group label-floating is-empty">{{form2.address}}</div>
      <span class="material-input"></span>
    </div>
    <br />
    <div class="form-group">
      <button type="submit" class="btn btn-info">ADD</button>
    </div>
  </form>
</div>

{% endblock %}
{% block script %} 
<script>
let previous = document.getElementById('example_previous')
let next = document.getElementById('example_next')

let table = new DataTable('#example', {
    // options
  //  "language": {
  //          "lengthMenu": "Sayfa başına gösterilen kayıt _MENU_ ",
  //          "zeroRecords": "Herhangi bir kayıt bulunamadı",
  //          "info": "Gösterilen sayfa _PAGE_ / _PAGES_",
  //          "infoEmpty": "Henüz herhangi bir kayıt yapılmadı",
  //          "infoFiltered": "(filtered from _MAX_ total records)",
  //          "search":"Ara",
   //     }
      

}); 

</script>

{% endblock %}