{% extends 'layout.html' %}
{% load static %}
{% block style %}
<style>
    body {
        padding: 0px;
        margin: 0px;
        width: 100%;
        height: 100%;
        background-image:linear-gradient(rgba(27, 24, 24, 0.4), rgba(131, 119, 119, 0.4)), url('{% static "images/vet.jpg" %}');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: calc(100vh );
        overflow-x: hidden;
    
      }

      .control-label{
    color:rgb(151, 22, 22);
    font-weight: 660;
  }
  .detail{
    font-weight: 600;
  }

</style>
{% endblock  %}
{% block body %}
<div class="container my-5 py-3 hayvan-form-detail">
    <div class="container">
    <div class="text-center"> <h4><strong>Animal Detail</strong> </h4></div> 
    <hr>
    <div class="form-group label-floating is-empty">
        <h5><strong>  <label  class="control-label"> Type of Animal</label></strong> </h5>
        <div class="form-group label-floating is-empty detail">{{form.type}}</div> 
        
    </div>
    <hr>
    
    <div class="form-group label-floating is-empty">
        <h5><strong>  <label class="control-label">Genus of Animal</label></strong> </h5>
        <div class="form-group label-floating is-empty detail">{{form.genus}}</div>
        
    </div>
    <hr>
    
    <div class="form-group label-floating is-empty">
        <h5><strong>   <label class="control-label">Name</label></strong> </h5>
        <div class="form-group label-floating is-empty detail">{{form.name}}</div> 
        
    </div>
    <hr>
    
    <div class="form-group label-floating is-empty">
        <h5><strong>   <label class="control-label">Age</label></strong> </h5>
        <div class="form-group label-floating is-empty detail" id="price">{{form.age}}</div>
        
    </div>
    <hr>
    
    <div class="form-group label-floating is-empty">
        <h5><strong>   <label class="control-label">Owner</label> </strong> </h5>  

        <div class="form-group label-floating is-empty detail">{{form.owner}}</div>
       
    </div>
    <hr>
    
    <div class="form-group label-floating is-empty">
        <h5><strong>   <label class="control-label">About the animal </label></strong> </h5>
      
        <div class="form-group label-floating is-empty detail">{{form.description}}</div>
      
    </div>
    <br> 



</div>
</div>



{% endblock  %}