{% extends 'layout.html' %}
{% block style %}
<style>
    .form-group input {
        width: 100%!important;
    }
    .form-group textarea{
        width: 100%!important;
    }
    .form-group select{
        width: 100%!important;
    }
    .sahip-form{
        border: 2px black solid;
        padding: 15px;
        border-radius: 9px;
        background-color: bisque;
    }
    .control-label{
        font-weight: bold;
    }
    .sahip-form {
        border: none;
        padding: 15px;
        border-radius: 9px;
        background-color: #a9aabc;
      }
      tbody {
        background-color: #a9aabc;
      }
      table a {
        font-weight: bold;
        color: rgb(119, 117, 6);
      }
</style>
{% endblock  %}
{% block body %}
<div class="container mt-5">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">E-mail</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Adress</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>

    </tr>
  </thead>
  <tbody>
      {% for sahip  in sahipler %}
    <tr>
      <th scope="row">{{sahip.id}}</th>
      <td>
        <a href="{%url 'hayvanlar:owner_detail' sahip.id %}">{{sahip.name}}</a>
      </td>
      <td>{{sahip.surname}}</td>
      <td>{{sahip.email}}</td>
      <td>{{sahip.phone}}</td>
      <td>{{sahip.address}}</td>
      <td><a href="{%url 'hayvanlar:owner-update' sahip.id %}"> <button class="btn btn-warning">Edit</button></a></td>
      <td><a href="{%url 'hayvanlar:owner_delete' sahip.id %}"> <button class="btn btn-danger">Delete</button></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<hr>


<form class="sahip-form" action="" method="post" id="form-control"> 
{% csrf_token %}
<div> <h3><strong>Edit Animal Owners</strong> </h3></div> 

<div class="form-group label-floating is-empty">
    <label  class="control-label">Name</label><br>
    <div class="form-group label-floating is-empty">{{form.name}}</div> 
    <span class="material-input"></span>
</div>
<br>

<div class="form-group label-floating is-empty">
    <label class="control-label">Surname</label><br>
    <div class="form-group label-floating is-empty">{{form.surname}}</div>
    <span class="material-input"></span>
</div>
<br>

<div class="form-group label-floating is-empty">
    <label class="control-label">Email</label><br>
    <div class="form-group label-floating is-empty">{{form.email}}</div> 
    <span class="material-input"></span>
</div>
<br>

<div class="form-group label-floating is-empty">
    <label class="control-label">Phone Number</label><br>
    <input type="text" name="phone" maxlength="11" required="" id="id_phone"  pattern="[0]{1}[5]{1}[0-9]{2}[0-9]{3}[0-9]{2}[0-9]{2}" {{form.phone}}
    <span class="material-input"></span>
</div>
<br>


<div class="form-group label-floating is-empty">
    <label class="control-label">Owners Adress </label>
    <div class="form-group label-floating is-empty">{{form.address}}</div>
    <span class="material-input"></span>
</div>
<br>
<div class="form-group">
    <button type="submit" class="btn btn-info">EDIT</button>
</div>
</form>



</div>




{% endblock  %}