{% extends 'layout.html' %}
{% load static %}
{% block style %}
<style>
  body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-image:linear-gradient(rgba(27, 24, 24, 0.5), rgba(131, 119, 119, 0.5)), url('{% static "images/groupDog.jpg" %}');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: calc(100vh );
    overflow-x: hidden;

  }



</style>
{% endblock  %}
{% block body %}
<div class="container mt-5">

    <table id="example" class="display" style="width:100%">
        <thead class="table_head">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Type</th>
              <th scope="col">Genus</th>
              <th scope="col">Name</th>
              <th scope="col">Age</th>
              <th scope="col">Owner</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
          {% for hayvan in hayvanlar %}
          <tr>
            <th scope="row">{{hayvan.id}}</th>
            <td>{{hayvan.type}}</td>
            <td>{{hayvan.genus}}</td>
            <td><a class="nav-link" href="{%url 'hayvanlar:animal_detail' hayvan.id %}">{{hayvan.name}}</a></td>  
            <td>{{hayvan.age}}</td>
            <td>{{hayvan.owner}}</td>
            <td>
              <a href="{% url 'hayvanlar:animal-update' hayvan.id%}">
                <button class="btn btn-warning">Edit</button></a
              >
            </td>
            <td>
              <a href="{% url 'hayvanlar:animal_delete' hayvan.id%}">
                <button class="btn btn-danger">Delete</button></a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
    
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">

    <form class="hayvan-form mt-5" action="" method="post" id="form-control">

      {% csrf_token %}
      <div class="text-center"> <h3>Edit Animals </h3></div> 
      <div class="form-group label-floating is-empty">
          <label  class="control-label"> Type of animal</label><br>
          <div class="form-group label-floating is-empty">
            <input type="text" name="type" class="form-control" value="{{form.type.value}}" maxlength="15" required="" id="id_type">
          </div> 
          <span class="material-input"></span>
      </div>

      
      <div class="form-group label-floating is-empty">
          <label class="control-label">Genus of animal</label><br>
          <div class="form-group label-floating is-empty">
            <input type="text" name="genus" value="{{form.genus.value}}"  class="form-control" maxlength="15" required="" id="id_genus">
          </div>
          <span class="material-input"></span>
      </div>
     
      <div class="form-group label-floating is-empty">
          <label class="control-label">Name</label><br>
          <div class="form-group label-floating is-empty">
            <input type="text" name="name" value="{{form.name.value}}" class="form-control" maxlength="20" required="" id="id_name">
          </div> 
          <span class="material-input"></span>
      </div>
     
      <div class="form-group label-floating is-empty">
          <label class="control-label">Age</label><br>
          <div class="form-group label-floating is-empty " id="price">
            <input type="number" name="age" value="{{form.age.value}}" class="form-control" required="" id="id_age">
          </div>
          <span class="material-input"></span>
      </div>

      
      <div class="form-group label-floating is-empty">
          <label class="control-label">Owner</label><br>
          <div class="form-group label-floating is-empty">
            {{form.owner}}
          </div>
          <span class="material-input"></span>
      </div>
 
      
      <div class="form-group label-floating is-empty">
          <label class="control-label">About the animal </label>
          <div class="form-group label-floating is-empty">
            <textarea name="description"  class="form-control" cols="40" rows="5" maxlength="100" required="" id="id_description">{{form.description.value}}</textarea>
          </div>
          <span class="material-input"></span>
      </div>

      <div class="form-group">
          <button type="submit" class="btn btn-danger btn-block">EDIT</button>
      </div>
      </form>
  

  </div>
</div>
















</div>




{% endblock  %}


{% block script %} 

  <script>
   let owner= document.getElementById('id_owner')
   owner.classList = "form-control"
  </script>

{% endblock %}