{% extends 'layout.html' %} {% block style %}
<style>
  .form-group input {
    width: 100% !important;
  }
  .form-group textarea {
    width: 100% !important;
  }
  .form-group select {
    width: 100% !important;
  }
  .sahip-form {
    border: 2px black solid;
    padding: 15px;
    border-radius: 9px;
    background-color: bisque;
  }
  .control-label {
    font-weight: bold;
  }
  .form-group input.phone {
    background-color: black;
  }
  .sahip-form {
    border: none;
    padding: 15px;
    border-radius: 9px;
    background-color: #a9aabc;
  }
  tbody {
    background-color: #a9aabc;
  }
  table a {
    font-weight: bold;
    color: rgb(119, 117, 6);
  }
</style>
{% endblock %} {% block body %}
<div class="container mt-5">
  <form
    action="{% url 'hayvanlar:hayvanSahipleri' %}"
    class="form-inline"
    method="get"
  >
    <div class="form-group mx-sm-3 mb-2 w-50">
      <label for="" class="sr-only">search</label>
      <input
        name="search"
        type=""
        class="form-control"
        id=""
        placeholder="Ara..."
      />
    </div>
    <button type="submit" class="btn btn-info btn-md mb-2">Ara</button>
  </form>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">İsim</th>
        <th scope="col">Soyisim</th>
        <th scope="col">E-mail</th>
        <th scope="col">Telefon</th>
        <th scope="col">Adres</th>
        <th scope="col">Düzenle</th>
        <th scope="col">Sil</th>
      </tr>
    </thead>
    <tbody>
      {% for sahip in page_obj %}
      <tr>
        <th scope="row">{{sahip.id}}</th>
        <td>
          <a href="{%url 'hayvanlar:sahipDetay' sahip.id %}">{{sahip.name}}</a>
        </td>
        <td>{{sahip.surname}}</td>
        <td>{{sahip.email}}</td>
        <td>{{sahip.phone}}</td>
        <td>{{sahip.address}}</td>
        <td>
          <a href="{%url 'hayvanlar:sahip-update' sahip.id %}">
            <button class="btn btn-warning">Düzenle</button></a
          >
        </td>
        <td>
          <a href="{%url 'hayvanlar:sahipler_delete' sahip.id %}">
            <button class="btn btn-danger">Sil</button></a
          >
        </td>
      </tr>
      {% endfor %}
      <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; ilk</a>
                <a href="?page={{ page_obj.previous_page_number }}">önceki</a>
            {% endif %}
    
            <span class="current">
                Sayfa {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">sonraki</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">son &raquo;</a>
            {% endif %}
        </span>
    </div>
    </tbody>
  </table>

  <hr />

  <form
    class="sahip-form"
    action="{%url 'hayvanlar:hayvanSahipleri' %}"
    method="post"
    id="form-control"
  >
    {% csrf_token %}
    <div>
      <h3><strong>Hayvan Sahibi Ekle</strong></h3>
    </div>

    <div class="form-group label-floating is-empty">
      <label class="control-label">İsim</label><br />
      <div class="form-group label-floating is-empty">{{form2.name}}</div>
      <span class="material-input"></span>
    </div>
    <br />

    <div class="form-group label-floating is-empty">
      <label class="control-label">Soyisim</label><br />
      <div class="form-group label-floating is-empty">{{form2.surname}}</div>
      <span class="material-input"></span>
    </div>
    <br />

    <div class="form-group label-floating is-empty">
      <label class="control-label">Email</label><br />
      <div class="form-group label-floating is-empty">{{form2.email}}</div>
      <span class="material-input"></span>
    </div>
    <br />

    <div class="form-group label-floating is-empty">
      <label class="control-label">Telefon</label><br />
      <input
        type="text"
        name="phone"
        maxlength="11"
        required=""
        id="id_phone"
        pattern="[0]{1}[5]{1}[0-9]{2}[0-9]{3}[0-9]{2}[0-9]{2}"
        oninvalid="this.setCustomValidity('Lütfen geçerli formatta bir telefon numarası giriniz. Örneğin: 05334442222')"
        oninput="this.setCustomValidity('')"
      />
      <span class="material-input"></span>
    </div>
    <br />

    <div class="form-group label-floating is-empty">
      <label class="control-label">Sahibin Adresi </label>
      <div class="form-group label-floating is-empty">{{form2.address}}</div>
      <span class="material-input"></span>
    </div>
    <br />
    <div class="form-group">
      <button type="submit" class="btn btn-info">HAYVAN SAHİBİ EKLE</button>
    </div>
  </form>
</div>

{% endblock %}
{% block script %} 
<script>

</script>

{% endblock %}