{% extends 'layout.html' %}
{% block style %}
<style>
.container{
   background: #a9aabc;
   border-radius: 10px;
}
</style>
{% endblock  %}
{% block body %}
<div class="container mt-5 py-3">

    <div> <h4><strong>Animal Owner </strong> </h4></div> 
    <hr>
    <div class="form-group label-floating is-empty">
        <h5><strong>  <label  class="control-label">  Name</label></strong> </h5><hr>
        <div class="form-group label-floating is-empty">{{form.name}}</div> 
        
    </div>
    <br>
    
    <div class="form-group label-floating is-empty">
        <h5><strong>  <label class="control-label"> Surname</label></strong> </h5><hr>
        <div class="form-group label-floating is-empty">{{form.surname}}</div>
        
    </div>
    <br>
    
    <div class="form-group label-floating is-empty">
        <h5><strong>   <label class="control-label"> Email</label></strong> </h5><hr>
        <div class="form-group label-floating is-empty">{{form.email}}</div> 
        
    </div>
    <br>
    
    <div class="form-group label-floating is-empty">
        <h5><strong>   <label class="control-label"> Phone Number</label></strong> </h5><hr>
        <div class="form-group label-floating is-empty " id="price">{{form.phone}}</div>
        
    </div>
    <br>
    
    <div class="form-group label-floating is-empty">
        <h5><strong>   <label class="control-label"> Adress</label> </strong> </h5>  <hr>

        <div class="form-group label-floating is-empty">{{form.address}}</div>
       
    </div>
    <br>
    <div class="form-group label-floating is-empty">
        <h5><strong>   <label class="control-label">Animals</label> </strong> </h5>  <hr>
        {% for animal  in hayvan %}
        <div class="form-group label-floating is-empty">{{animal}}</div> 
        {% endfor %}
    </div>
    <br>

   






 
    



</div>



{% endblock  %}