    <div class="form-group label-floating is-empty">
        <label  class="control-label"> Hayvanın Türü</label><br>
        <div class="form-group label-floating is-empty">{{form.type}}</div> 
        <span class="material-input"></span>
    </div>
    <br>
    
    <div class="form-group label-floating is-empty">
        <label class="control-label">Hayvanın Cinsi</label><br>
        <div class="form-group label-floating is-empty">{{form.genus}}</div>
        <span class="material-input"></span>
    </div>
    <br>
    
    <div class="form-group label-floating is-empty">
        <label class="control-label">Hayvanın İsmi</label><br>
        <div class="form-group label-floating is-empty">{{form.name}}</div> 
        <span class="material-input"></span>
    </div>
    <br>
    
    <div class="form-group label-floating is-empty">
        <label class="control-label">Hayvanın Yaşı</label><br>
        <div class="form-group label-floating is-empty " id="price">{{form.age}}</div>
        <span class="material-input"></span>
    </div>
    <br>
    
    <div class="form-group label-floating is-empty">
        <label class="control-label">Hayvanın Sahibi</label><br>
        <div class="form-group label-floating is-empty">{{form.owner}}</div>
        <span class="material-input"></span>
    </div>
    <br>
    
    <div class="form-group label-floating is-empty">
        <label class="control-label">Hayvan Hakkında </label>
        <div class="form-group label-floating is-empty">{{form.description}}</div>
        <span class="material-input"></span>
    </div>
    <br> 